/* Reset básico e corpo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f6f0e6;
  color: #333;
}

/* Container principal */
main {
  width: 90%;
  margin: 0 auto;
  padding: 80px 20px 0 20px;
  margin-top: 80px;
  min-height: 90vh;
}

/* Título */
h2.titulo {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  color: #5D4E3C;
}

/* Estilização dos cards */
.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card i {
  color: #4c3928;
}

.card h5 {
  font-size: 1.4rem;
  color: #5D4E3C;
}

.card p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #77502e;
}

/* Links dos cards */
a.text-decoration-none {
  text-decoration: none !important;
}

/* Rodapé */
footer {
  background-color: #4c3928;
  height: 5rem;
  color: #eee;
  font-size: 0.75rem;
  text-align: center;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 0.9rem;
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
