@import "bootstrap-icons/font/bootstrap-icons.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #f6f0e6;
    color: #333;

  }
main {
    width: 90%;
    margin: 0 auto;
    padding: 80px 20px 20px 20px;
    margin-top: 60px;
}

.barra-navegacao {
  background-color: #4c3928 !important;
  color: white !important;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.barra-navegacao .navbar-brand img {
  height: 40px;
  margin: 0.5rem 2rem 0.5rem 1rem;
}

.barra-navegacao .nav-link {
  color: white !important;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

.barra-navegacao .nav-link:hover {
  color: #cfcfcf !important;
  text-decoration: underline;
}

.barra-navegacao .bt-login {
  width: 8rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 2rem;
}
.barra-navegacao .bt-login:hover{
 background-color: #7c5f45;
  
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(1);
}
.btn {
    background-color: #DAB88B;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
  }
  .btn:hover {
    background-color: #5D4E3C;
    color: white;
  }
  .link-login{
    text-decoration: none;
    
  }
  .link-login button{
    color: white;
    background-color: #77502e;
  }
.card h2 {
  color: #4c3928;
}

.table th {
  background-color: #f8f9fa;
}

.btn-primary {
  background-color: #DAB88B;
    border: none;
}

.btn-primary:hover {
  background-color: #7c5f45;
 
}
.card-main {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.comprar-btn{
  background-color: #9c5120;
}
.comprar-btn:hover {
    background-color: #7a3e17;
}
.comprar-btn:active {
    background-color: #7a3e17 !important;
    color: white !important;
}

table th i,
table td i {
  margin-right: 8px;
  color: #6c757d;
}

.table-hover tbody tr:hover {
  background-color: #f9f9f9;
  cursor: default;
}

.table th, .table td {
  vertical-align: middle;
  padding: 1rem;
}

.table th {
  width: 220px;
  color: #4c3928;
}

.breadcrumb a{
  color: #4c3928;
}

@media (max-width: 768px) {
    .livro-info {
        flex-direction: column;
        align-items: center;
    }

    .livro-info img {
        width: 100%;
        max-width: 250px;
    }

    .info {
        text-align: center;
    }
    .btn{
      width: 80%;
    }

}
@media (max-width: 600px){
    body{
      min-width: 400px;
    }
    .topbar {
      display: flex;
      flex-direction: row;
      
    }
    .menu {
      flex-direction: column;
      align-items: center;
      margin: 10px 0 ;
    }
    .menu-item {
      margin-right: 0;
      font-size: 1.2rem;
  
    }
    .btn{
      width: 80%;
    }
  }

footer {
    background-color: #4c3928;
    height: 5rem;
    color: #eee;
    font-size: 0.75rem;
    text-align: center;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

footer p {
    font-size: 0.9rem;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.detalhes-dono {
    margin-top: 30px;
    text-align: center;
}

.detalhes-dono table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.detalhes-dono th, .detalhes-dono td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.detalhes-dono th {
    background-color: #4c3928;
    color: #fff;
    font-weight: bold;
}

.detalhes-dono td {
    color: #333;
}