* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #f6f0e6;
    color: #333;

  }
main {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 60px;
}
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4c3928;
    padding: 10px 20px;
  }
  
  .logo {
    flex: 1;
  }
  
  .menu {
    flex: 9;
    display: flex;
    list-style: none;
    
  }
  
  .menu-item {
    color: #fff;
    text-decoration: none;
    margin-right: 3rem;
  }
  .menu-item:hover {
    color: #DAB88B;
  }
  
  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
  }
  
  .text p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: #5D4E3C;
  }
  .text h1 {
    font-size: 2rem;
  }
  .buttons {
    margin-top: 10px;
    display: flex;
    gap: 15px;
  }
  
  .btn {
    background-color: #DAB88B;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
  }
  .btn:hover {
    background-color: #5D4E3C;
  }
  
  .about {
    margin-top: 120px;
    text-align: center;
    padding: 40px 20px;
  }
  
  .about h2 {
    color: #9c5120;
    margin-bottom: 30px;
    font-size: 40px;
  }
  
  .about p {
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto 50px;
    color: #555;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    
  }
  
  .card {
    width: 28rem;
    height: 30rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 30px;
    text-align: center;

    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
  }
  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
  }

  .card img {
    margin-bottom: 5px;
    border-radius: 6px;
  }
  .card p {
    margin-top: 10px;
    font-size: 1rem;
    color: #444;
    text-align: justify;
    width: 86%;
  }
  .card h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #9c5120;
  }
  .contact {
    text-align: center;
    padding: 40px 20px;
    margin-top: 140px;
  }
  
  .contact h2 {
    color: #9c5120;
    font-size: 40px;
  }
  
  .contact-box {
    width: 40%;
    height: 36rem;
    margin: 40px auto;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  .contact-box form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contact-box input {
    width: 100%;
    height: 56px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
  }
  .contact-box textarea {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
  }
  .contact-box textarea:hover, .contact-box input:hover  {
    border: 1px solid #9c5120;
  }
  .contact-box input:focus, .contact-box textarea:focus {
    border: 3px solid #9c5120;
    outline: none;
  }

  .contact-box button {
    padding: 10px;
    border: none;
    height: 50px;
    background-color: #9c5120;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
  }
  .contact-box button:hover {
    background-color: #7e3f17;
    
  }
  @media (max-width: 1024px) {

    .contact-box {
      width: 90%;
    }
    .btn{
      width: 100%;
      height: 50px;
      font-size: 1.2rem;
    }
  }
  @media (max-width: 600px){
    body{
      min-width: 400px;
    }
    .topbar {
      display: flex;
      flex-direction: row;
      
    }
    .menu {
      flex-direction: column;
      align-items: center;
      margin: 10px 0 ;
    }
    .menu-item {
      margin-right: 0;
      font-size: 1.2rem;

    }
    .intro {
      flex-direction: column;
      align-items: center;
    }
    .text{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .text .buttons{
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }
    .btn{
      width: 100%;
      height: 50px;
      font-size: 1.1rem;
    }
    .intro img {
      display: none;
    }
    .text p {
      text-align: center;
    }
    .text h1 {
      text-align: center;
    }
    .about p {
      width: 90%;
    }
    .about h2 {
      font-size: 2rem;
    }
    .contact-box {
      margin: 40px auto;
      padding: 20px;
      width: 100%;
    }
    .contact{
      margin: 100px 0;
      width: 100%;
    }

  }
  
  footer {
    background-color: #4c3928;
    height: 5rem;
    color: #eee;
    font-size: 0.75rem;
    text-align: center;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer p{
    font-size: 0.9rem;
  }
  footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  